.img-style{
	width: 450px;
}

.card-img-style{
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 0;
	position: relative;
	min-height: 41.875rem;
	background: linear-gradient(#1A213D, #030B2F);

	box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.5);
}

.return-style{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 2.9375rem;
	margin-left: 1.375rem;
}

.card-form-style{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;
	background-color: #EEEEEE;
	min-height: 41.875rem;
	box-shadow: -3px 8px 10px rgba(0, 0, 0, 0.5);
}

.card-title-style{
	margin-top: 2.375rem;
	font-size: 40px;
	font-weight: 600;
	color: #190E0D;
	opacity: 79%;
}

.form-label-style{
	font-size: 16px;
	color: #190E0D;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 500;
}

.form-control-style{
	background-color: rgba(99, 115, 32, 0.1);
	box-shadow: none;
	color: #000;
	height: 48px;
}

.form-control-style:focus{
	box-shadow: 0 1px 10px 2px rgba(26, 33, 61, 0.5);
}

.form-group-style{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: start;
	/* margin-top: 0.5rem; */
	padding-left: 4rem;
	padding-right: 4rem;
}


.button-style{
	width: 16.25rem;
	height: 3.125rem;
	margin-top: 2rem;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: bold;
	font-size: 28px;

	background-color: #030B2F;
	border: 0;
	border-radius: 10px;

	line-height: 2.5rem;
}
