.first-access-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: inherit; /* pega o fundo que você já definiu no body */
  overflow: hidden; /* evita scroll da logo */
}

/* Logo no fundo */
.background-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* ajuste o tamanho da logo */
  opacity: 0.5; /* 👈 marca d’água */
  pointer-events: none; /* não atrapalha cliques */
  z-index: 0; /* fica atrás */
}

.card{
	background-color: #EEEEEE;
	width: 59.625rem;
	height: 43.25rem;
	text-align: center;
	color: #000;
	border-radius: 30px;
}

.title-style{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 2.75rem;
}

.text-body{
	font-size: 30px;
	margin-bottom: 2.3125rem;
}

.button-first-access{
	background-color: #000A33;
	opacity: 90%;
	width: 46.75rem;
	height: 7.3125rem;
	border: 0;
	border-radius: 20px;

	display: flex;
	align-items: center;
	justify-content: center;


	font-size: 50px;
	font-weight: bold;
	color: #EEEEEE;
}

.button-enter{
	background-color: #FF0000;
	opacity: 90%;
	width: 46.75rem;
	height: 7.3125rem;
	border: 0;
	border-radius: 20px;

	font-size: 50px;
	font-weight: bold;
	color: #EEEEEE;
}

.button-enter:hover{
	background-color: #A71414;
	
	
}