.first-access-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: inherit; /* pega o fundo que você já definiu no body */
  overflow: hidden; /* evita scroll da logo */
}

.card{
	background-color: #EEEEEE;
	width: 59.625rem;
	height: 43.25rem;
	text-align: center;
	color: #000;
	border-radius: 30px;
}

.title-style{
	font-size: 50px;
	margin-top: 1.25rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 2.75rem;
}

.text-body{
	font-size: 30px;
	margin-bottom: 1.75rem;
}

.button-first-access{
	margin-top: 0.5rem;
	background-color: #000A33;
	opacity: 90%;
	width: 46.75rem;
	height: 7.3125rem;
	border: 0;
	border-radius: 20px;

	display: flex;
	align-items: center;
	justify-content: center;


	font-size: 50px;
	font-weight: bold;
	color: #EEEEEE;
}

.button-enter{
	margin-bottom: 1rem;
	background-color: #FF0000;
	opacity: 90%;
	width: 46.75rem;
	height: 7.3125rem;
	border: 0;
	border-radius: 20px;

	font-size: 50px;
	font-weight: bold;
	color: #EEEEEE;
}

.button-enter:hover{
	background-color: #A71414;
	
	
}